<div class="news" style="margin-bottom: 3em; margin-top: 1em;">
    </br>
    <h2 style="margin-bottom: .7em;">Libros</h2>
    
    <div class="row">
        <div class="col-sm-6 mt-3 mt-md-0">            
            <a href="blog/2022/como-enfocar-correctamente-un-microscopio/">            
                <img class="img-fluid z-depth-1 rounded" src="../assets/img/cover-como-enfocar.png" alt="project thumbnail">
            </a>
        </div>
        <!--
        <div class="col-sm-8 mt-3 mt-md-0">
            <div class="card">
                <code class="language-plaintext highlighter-rouge" style="padding-left: 1.5em;">
                    No ficción • Texto técnico
                </code>
                <div class="card-body" style="line-height: 1.5em;">    
                    <h5 class="card-title">                       
                        <a href="/books/como-enfocar-correctamente/" target="blank">
                            Cómo enfocar correctamente un microscopio
                        </a>
                    </h3>                                   
                    <br>                     
                    <p class="card-text">
                        Este libro es una guía rápida nacida de mi práctica y mi conocimiento para el uso del <strong>microscopio compuesto</strong>, así como para una comprensión a grandes rasgos de la microscopía.
                    </p> 
                    <p  class="card-text">
                        Está dirigido a principiantes y a aquellos que deseen repasar procedimientos de forma rápida y concisa. El libro cuenta con bellas imágenes, algoritmos y diagramas.
                    </p>
                    <p class="card-text">
                        Esta obra está protegida bajo licencia <strong>Creative Commons Atribución-CompartirIgual 4.0 Internacional</strong> (<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es" target="blank">CC BY-SA 4.0</a>).
                    </p>
                </div>
            </div>
        </div>                        
        -->
    </div>
</div>
