<div class="row justify-content-sm-center">
    <div class="col-sm-6 mt-3 mt-md-0">
        <a href="https://www.instagram.com/{{ include.username }}/">
            <img class="img-fluid rounded z-depth-1" src="../assets/img/instagram/luis_capitanache 2021-11-12T200503.JPEG" alt="Instagram" />
        </a>
    </div>

    <div class="col-sm-6 mt-3 mt-md-0">
        <a href="https://www.instagram.com/{{ include.username }}/">
            <img class="img-fluid rounded z-depth-1" src="../assets/img/instagram/luis_capitanache 2021-12-20T165346.JPEG" alt="Instagram" />
        </a>
    </div>
</div>
