<div class="row justify-content-sm-center">
    <div class="col-sm-6 mt-3 mt-md-0">
        <a href="https://www.instagram.com/{{ include.username }}/">
            <img class="img-fluid rounded z-depth-1" src="https://profilepageimages.usecue.com/images/{{ include.username }}/{{ 1 }}.jpg" alt="Instagram" />
        </a>
    </div>

    <div class="col-sm-6 mt-3 mt-md-0">
        <a href="https://www.instagram.com/{{ include.username }}/">
            <img class="img-fluid rounded z-depth-1" src="https://profilepageimages.usecue.com/images/{{ include.username }}/{{ 3 }}.jpg" alt="Instagram" />
        </a>
    </div>
</div>
