<div class="news">
</br>
  <h2>relatos</h2>
  {% if site.relatos  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign relatos = site.relatos | reverse %}
      {% for item in relatos limit: site.relatos_limit %}
        <tr>
          <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>Sin relatos...</p>
  {% endif %}
</div>
