/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$custom-color};
  --global-hover-color: #{$custom-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #000000;
  --global-code-bg-color: #2c3237;
  --global-text-color: #33393d;
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #828282;
  --global-hover-color: #c6c6c6;
  --global-footer-bg-color: #000000;
  --global-footer-text-color: #000000;
  --global-footer-link-color: #000000;
  --global-distill-app-color: #000000;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
