---
layout: default
title: Blog
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  {% if page.title == "Blog" %}
    <div class="header-bar">
      <h1>{{ site.blog_name }}</h1>
      <h2>{{ site.blog_description }}</h2>
    </div>
  {% endif %}

  {% if page.title == "Tiamat" %}
    <article class="tiamat-abstract">
      <p><code class="language-plaintext highlighter-rouge">Tiamat: Relatos & fragmentos de/mentes</code> surge como una necesidad personal de escribir historias. Estos relatos y fragmentos son individuales, por lo que pueden leerse de forma aislada y al azar. No obstante, todos tienen un hilo conductor que los une, pues ocurren en la ficticia <code class="language-plaintext highlighter-rouge">ciudad-estado de Tiamat</code>, además de compartir personajes y otros lugares de mi autoría.</p>

      <p>Esta forma de contar historias está directamente inspirada en los trabajos de <a href="https://es.wikipedia.org/wiki/H._P._Lovecraft" target="_blank">H. P. Lovecraft</a>. Y, al igual que en su obra —aunque con mucha más modestia—, a los relatos y fragmentos de Tiamat los une la muerte y la locura.</p>

      <p>Los relatos y fragmentos de esta sección están todos bajo licencia <strong>Creative Commons Atribución-NoComercial-SinDerivadas 4.0 Internacional</strong> (<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.es" target="_blank">CC BY-NC-ND 4.0</a>).</p>

      <div class="admonition warning">      
        <p class="admonition-title">          
          <svg class="admonition-icon" xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#954535" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
          </svg>
          Disclaimer
        </p>
        <p>Los contenidos presentados en estas obras de ficción son puramente ficticios y no tienen relación alguna con personas, lugares o eventos reales. Cualquier similitud con hechos, lugares o personas, vivas o muertas, es mera coincidencia. El contenido de algunas obras puede ofender o herir la susceptibilidad de algunas personas, por lo que se recomienda discreción. El autor no asume ninguna responsabilidad por cualquier posible ofensa o herida a la susceptibilidad de algunas personas que pudieran derivarse del contenido de estas obras. La lectura y comprensión de estas obras es responsabilidad exclusiva del lector. Si decide leer, hágalo bajo su propia responsabilidad.</p>
      </div>
    </article>
  </br>
  {% endif %}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="post-meta">{{ post.date | date: '%Y.%m.%d' }}</p>
        <p>{{ post.description }}</p>

        <p class="post-tags">
          {% if tags != "" %}          
            {% for tag in post.tags %}
            <a href="{{ tag | slugify | prepend: '/tags/' | prepend: site.baseurl }}">
              <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a> &nbsp;
              {% endfor %}
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
