---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y.%m.%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post-author">
    <p>—Luis Capitanache.</p>
    Licencia: <a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank">CC BY 4.0</a>
  </div>
  <div class="content-media">{% include share-buttons.html %}</div>
</div>
