---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header relato-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y.%m.%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="relato-content post-content">
    {{ content }}
  </article>

  <p class="relato-author">—Luis Capitanache.</p>
  <p class="relato-author">Licencia: <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.es" target="_blank">CC BY-NC-ND 4.0</a></p>
  <div class="content-media">{% include share-buttons.html %}</div>
</div>
